/* header */
.todo-header input{
    width: 500px;
    height: 25px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4px 8px;
  }
  
  .todo-header input:focus {
    outline: none;
    border-color: #61dafb;
  }