.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* begin */
body {
  background-color: #d5b7b7;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.btn-delete {
  color: #fff;
  background-color: #da4f48;
  border: 2px solid #bd362f;
}

.btn-delete:hover {
  color: #fff;
  background-color:  #bd362f;
}

.btn:focus {
  outline: none;
}

.todo-container .todo-wrap {
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 500px;
 /* display: flex; */
}

.todo-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


/* end */